/* цвет основного текста #212121  */
/* вторичный цвет текста #757575  */
/* цвет фона майна #2F303A */
/* цвет кнопки "Студия"  #2196F3 */
/* цвет логотипа шапки "WebStudio" - #2196F3 - #000000 */
/* цвет логотипа подвала "WebStudio" - #2196F3 - #FFFFFF */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет фона подвала #2F303A */

body {
    /* background:#ffffff; */
    color: #2F303A;
}

.list {
    list-style: none;
}

/* Шапка сайта */



.logo-link {
    color: #2196F3;
    text-decoration: none;
}

.logo-header {
    color: #000000;
}



/* Навигация по сайту */

.link {
    text-decoration: none;
}

nav-link {
    color: #757575;
}

.nav-link:hover,
.nav-link:focus {
    color: #0000ff;

}

/* Контакты в шапке */

.contacts-link {
    color: #0000ff;
}

/* Главная страница */

/* Описание с постами */

/* Наши проекты */

/* Фото нашей команды  */

/* Подвал */

/* Лого подвала */

/* Контакты подвала */
